<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        stopOnFailure="false"
        bootstrap="Tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="OldSoundRabbitMqBundle Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>Resources</directory>
            <directory>Tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

    <php>
        <server name="KERNEL_CLASS" value="\OldSound\RabbitMqBundle\Tests\TestKernel"/>
    </php>
</phpunit>
